.body
{
    background-color: #504040;
}

.window
{
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;

    background-color: #504040;
    width: 480px;
}

.line
{
    position: relative;
    left: 50%;
    translate: -50% 0;
    display: flex;
    
    width: 80%;
    min-height: 25px;
}

.button{
    width: 100%;

    /* font-family: Caslon-Antique; */
    text-align: center;
    color: #e0e0e0;

    background-color: transparent;
    border: 2px ridge #404040;

    position: relative;
    
    &::before{
        background-color: #505050;

        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        z-index: -1;
        transition: all 0.1s ease;
        
        width: 100%;
        height: 100%;
    }
    
    &:hover::before{
        background-color: #404040;
    }
}